.programs
{
    .programs-header
    {
        display:flex;
        font-size:3rem;
        font-weight:bold;
        color:white;
        gap:4rem;
        font-style: italic;
        justify-content: center;
        align-items: center;
    }
    .programs-data
    {
        display:flex;
        gap:1rem;
        padding: 2rem;
        .data-description{
            /* display: flex; <-------------------------- */
            flex-direction: column;
            justify-content: center;
            /* flex:1; */
            gap:1rem;
            background-color: gray;
            padding:1.2rem 2rem;
            span{
                color:white;
                font-size:1rem;
                /* padding-top: 1rem; */
            }
            :nth-child(1){
                fill:white;
                width:2rem;
                height:3rem;
                /* border:1px solid red; */
            }
            :nth-child(2){
                font-weight: bold;
            }
            :nth-child(3)
            {
                font-size:.9rem;
                font-weight:lighter;
                line-height: 1.5rem;
            }
            .join-now{
                /* display:flex; <--------------------*/
                gap:1rem;
                align-items: center;
                /* border:1px solid red; */
                /* padding:0; */
                /* margin:0; */
                :nth-child(1)
                {
                    /* width:fit-content; */
                    /* display: flex; <-------------- */
                    align-items: center;
                    width:5rem;
                    height:3rem;
                    margin-right:1rem;
                    /* border:1px solid red; */
                    /* align-self: center; */
                }
                :nth-child(2)
                {
                    width:1rem;
                    height:1rem;
                }
            }
            }
    }
    .data-description:hover
    {
        background:var(--planCard);
        cursor:pointer;
    }
}
@media screen and (max-width:768px)
{
    .programs
{
    .programs-header
    {
        /* margin-top: -3rem; */
        flex-direction: column;
        font-size:2rem;
        gap:1rem;
    }
    .programs-data
    {
        flex-direction: column;
        padding: 1rem;
    }
    .data-description:hover
    {
        background:var(--planCard);
        cursor:pointer;
    }
}
}